__init__.py
*.pyc
.*.swp
.#*
#*#
*~
*.pb

# ignore partially applied patches and their backup
*.rej
*.orig


# ignore files under the top level $CMSSW_BASE/src directory, but not its subdirectories
/*
!/*/


HeavyIonsAnalysis/Configuration/test/.__afsBA54
HeavyIonsAnalysis/Configuration/test/dump.py
HeavyIonsAnalysis/Configuration/test/vanilla_forest_MC.py

HeavyIonsAnalysis/VertexAnalysis/
HeavyIonsAnalysis/Configuration/test/*.csv
RooUnfold/
HeavyIonsAnalysis/Configuration/test/crab_projects/
HeavyIonsAnalysis/Configuration/test/crab*
HeavyIonsAnalysis/Configuration/test/*.root
# ignore some IDE related files
*.xcodeproj
.vscode

#ignore mac specific file
.DS_Store
